.swiper-slide {
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .swiper {
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    position: relative !important;
  }
  .swiper-button-prev:after, 
  .swiper-button-next:after{
    width: calc(var(--swiper-navigation-size) / 151 * 27) !important;
  }
  .swiper-button-prev:after, 
  .swiper-button-next:after{
    font-size: 30px !important;
  }
  .swiper-button-next{
    right: 0 !important;
  }
  .swiper-button-prev{
    left: -10px !important;
  }